<h1>YES is working my HOME page</h1>

<header>

<div class="top-bar">
<div class="top-bar-left">
<ul class="menu">
<li><%= link_to 'About', about_path%>  </li>

</ul>
</div>
<div class="top-bar-right">
<ul class="menu">
<li><input type="search" placeholder="Search"></li>
<li><button type="button" class="button">Search</button></li>
</ul>
</div>
</div>
</header>
<br>
<div class="row">
<div class="medium-8 columns">
<p><img src="https://placehold.it/900x450&text=Promoted Article" alt="main article image"></p>
</div>
<div class="medium-4 columns">
<p><img src="https://placehold.it/400x200&text=Other cool article" alt="article promo image" alt="advertisement for deep fried Twinkies"></p>
<p><img src="https://placehold.it/400x200&text=Other cool article" alt="article promo image"></p>
</div>
</div>

<hr>
<div class="row column">
<h4 style="margin: 0;" class="text-center">LATEST STORIES</h4>
</div>
<hr>
<div class="row">
<div class="large-8 columns" style="border-right: 1px solid #E3E5E8;">
<article>
<div class="row">
<div class="large-6 columns">
<p><img src="https://placehold.it/600x370&text=Look at me!" alt="image for article" alt="article preview image"></p>
</div>
<div class="large-6 columns">
<h5><a href="#">'Death Star' Vaporizes Its Own Planet</a></h5>
<p>
<span><i class="fi-torso"> By Thadeus &nbsp;&nbsp;</i></span>
<span><i class="fi-calendar"> 11/23/16 &nbsp;&nbsp;</i></span>
<span><i class="fi-comments"> 6 comments</i></span>
</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae impedit beatae, ipsum delectus aperiam nesciunt magni facilis ullam.</p>
</div>
</div>
<hr>
<div class="row">
<div class="large-6 columns">
<p><img src="https://placehold.it/600x370&text=Look at me!" alt="image for article" alt="article preview image"></p>
</div>
<div class="large-6 columns">
<h5><a href="#">NASA's SLS Rocket Sheds Saturn V Color Scheme in Design Review</a></h5>
<p>
<span><i class="fi-torso"> By Thadeus &nbsp;&nbsp;</i></span>
<span><i class="fi-calendar"> 11/23/16 &nbsp;&nbsp;</i></span>
<span><i class="fi-comments"> 6 comments</i></span>
</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae impedit beatae, ipsum delectus aperiam nesciunt magni facilis ullam.</p>
</div>
</div>
<hr>
<div class="row">
<div class="large-6 columns">
<p><img src="https://placehold.it/600x370&text=Look at me!" alt="image for article" alt="article preview image"></p>
</div>
<div class="large-6 columns">
<h5><a href="#">Ingredients for Life Were Always Present on Earth, Comet Suggests</a></h5>
<p>
<span><i class="fi-torso"> By Thadeus &nbsp;&nbsp;</i></span>
<span><i class="fi-calendar"> 11/23/16 &nbsp;&nbsp;</i></span>
<span><i class="fi-comments"> 6 comments</i></span>
</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae impedit beatae, ipsum delectus aperiam nesciunt magni facilis ullam.</p>
</div>
</div>
<hr>
<div class="row">
<div class="large-6 columns">
<p><img src="https://placehold.it/600x370&text=Look at me!" alt="image for article" alt="article preview image"></p>
</div>
<div class="large-6 columns">
<h5><a href="#">Astronaut's Watch Worn on the Moon Sells for Record $1.6 Million</a></h5>
<p>
<span><i class="fi-torso"> By Thadeus &nbsp;&nbsp;</i></span>
<span><i class="fi-calendar"> 11/23/16 &nbsp;&nbsp;</i></span>
<span><i class="fi-comments"> 6 comments</i></span>
</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae impedit beatae, ipsum delectus aperiam nesciunt magni facilis ullam.</p>
</div>
</div>
<hr>
<div class="row">
<div class="large-6 columns">
<p><img src="https://placehold.it/600x370&text=Look at me!" alt="image for article" alt="article preview image"></p>
</div>
<div class="large-6 columns">
<h5><a href="#">Interstellar Dust on the Galaxy's Magnetic Field | Space Wallpaper</a></h5>
<p>
<span><i class="fi-torso"> By Thadeus &nbsp;&nbsp;</i></span>
<span><i class="fi-calendar"> 11/23/16 &nbsp;&nbsp;</i></span>
<span><i class="fi-comments"> 6 comments</i></span>
</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae impedit beatae, ipsum delectus aperiam nesciunt magni facilis ullam.</p>
</div>
</div>
<hr>
<div class="row">
<div class="large-6 columns">
<p><img src="https://placehold.it/600x370&text=Look at me!" alt="image for article" alt="article preview image"></p>
</div>
<div class="large-6 columns">
<h5><a href="#">Explore the Moon (Virtually) with These Awesome Global Maps</a></h5>
<p>
<span><i class="fi-torso"> By Thadeus &nbsp;&nbsp;</i></span>
<span><i class="fi-calendar"> 11/23/16 &nbsp;&nbsp;</i></span>
<span><i class="fi-comments"> 6 comments</i></span>
</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae impedit beatae, ipsum delectus aperiam nesciunt magni facilis ullam.</p>
</div>
</div>
<hr>
<div class="row">
<div class="large-6 columns">
<p><img src="https://placehold.it/600x370&text=Look at me!" alt="image for article" alt="article preview image"></p>
</div>
<div class="large-6 columns">
<h5><a href="#">Best Space Books and Sci-Fi: A Space.com Reading List</a></h5>
<p>
<span><i class="fi-torso"> By Thadeus &nbsp;&nbsp;</i></span>
<span><i class="fi-calendar"> 11/23/16 &nbsp;&nbsp;</i></span>
<span><i class="fi-comments"> 6 comments</i></span>
</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae impedit beatae, ipsum delectus aperiam nesciunt magni facilis ullam.</p>
</div>
</div>

<div class="large-4 columns">
<h5>RANDOM MAG</h5>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti quam voluptatum vel repellat ab similique molestias molestiae ea omnis eos, id asperiores est praesentium, voluptate officia nulla aspernatur sequi aliquam.</p>
</div>
</div>
<div class="row expanded">
<div class="medium-6 columns">
<ul class="menu">
<li><a href="#">Legal</a></li>
<li><a href="#">Partner</a></li>
<li><a href="#">Explore</a></li>
</ul>
</div>
<div class="medium-6 columns">
<ul class="menu align-right">
<li class="menu-text">Copyright © 2099 Random Mag</li>
</ul>
</div>
</div>
</footer>
